__pycache__/
build/index.html
build/*/index.html
build/ff/*/index.html
build/comments/*/index.html
build/feed.xml
build/files/*.html
build/files/*.pdf
build/files/*.epub
build/files/*.gif
build/files/*.png
build/secret/*.html
build/secret/*.pdf
build/secret/*.epub
build/secret/*.gif
build/secret/*.png
build/emacs.jpg
originalsmeta/*
!originalsmeta/__init__.py
!originalsmeta/template.py
texts/*
!texts/.gitkeep
translationsmeta/*
!translationsmeta/__init__.py
!translationsmeta/template.py
build/stats/*/index.html